body {
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  background-color: #fff;
}

.hinges-wrapper {
  padding: 40px 80px 40px 80px;
  color: #023f67;
  background-color: #fff;
}

.inner-hinges h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 30px;
}

.hinges-container {
  margin: auto;
  max-width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contain-one {
  width: 360px;
  height: 180px;
  box-shadow: rgba(0, 0, 0, 0.501) 0px 3px 8px;
  padding: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hinge-img {
  width: 300px;
  height: 140px;
  overflow: hidden;
}
.hinge-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hinges-text {
  padding: 10px;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .hinges-wrapper {
    padding: 100px 15px 20px 15px;
    color: #023f67;
    background-color: #fff;
  }

  .inner-hinges h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .hinges-container {
    margin: auto;
    max-width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .contain-one {
    width: 320px;
  }

  .hinge-img {
    width: 260px;
  }
}

/* Landscape and iPad View */
@media (min-width: 601px) and (max-width: 750px) {
  .hinges-wrapper {
    padding: 100px 15px 20px 15px;
    color: #023f67;
    background-color: #fff;
  }

  .inner-hinges h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .hinges-container {
    margin: auto;
    max-width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .contain-one {
    width: 320px;
  }

  .hinge-img {
    width: 260px;
  }
}

@media (min-width: 751px) and (max-width: 1115px) {
  .hinges-wrapper {
    padding: 20px 15px 20px 15px;
    color: #023f67;
    background-color: #fff;
  }

  .inner-hinges h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .hinges-container {
    margin: auto;
    max-width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
