body {
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  background-color: #fff;
}

.hero-wrapper {
  padding: 20px 50px 20px 50px;
}

.hero-top {
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.hero-top h1 {
  font-weight: normal;
  font-size: 2rem;
}
.hero-top p {
  padding-top: 5px;
}

.hero-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-two {
  width: 45%;
  line-height: 30px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
