body {
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  background-color: #fff;
}

.employment-wrapper {
  padding: 40px 80px 40px 80px;
  background-color: #fff;
  color: #000000;
}

.inner-employment h1 {
  color: #023f67;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 20px;
}
.inner-employment h2 {
  text-align: left;
  font-size: 1.7rem;
  font-weight: 400;
  padding: 10px;
}

.container-one {
  width: 100%;
  padding: 10px;
}

button.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  border: none;
  color: #000000;
  background-color: #a1c9e4;
  cursor: pointer;
  margin-bottom: 10px;
}

.container-two {
  padding: 10px;
  line-height: 27px;
}

.container-two p {
  padding-bottom: 20px;
}

a.description {
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #023f67;
}
a.description:hover {
  background-color: #023f67e2;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .employment-wrapper {
    padding: 125px 15px 20px 15px;
    color: #023f67;
    background-color: #fff;
  }

  button.head {
    margin: auto;
    max-width: 95%;
    font-size: 0.9rem;
  }

  .container-one {
    margin: auto;
    max-width: 90%;
  }

  .container-two {
    margin: auto;
    max-width: 90%;
    font-size: 0.9rem;
  }

  a.description {
    font-size: 0.8rem;
  }
}

/* Landscape and iPad View */
@media (min-width: 601px) and (max-width: 750px) {
  .employment-wrapper {
    padding-top: 125px;
    color: #023f67;
    background-color: #fff;
  }
}
