body {
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  background-color: #fff;
}

.industries-wrapper {
  padding: 40px 80px 40px 80px;
  color: #023f67;
  background-color: #fff;
}

.inner-industries h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 50px;
}

.industry-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.industry-one {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
}

.industry-img {
  width: 280px;
  height: 250px;
  margin-bottom: 50px;
  overflow: hidden;
}
.industry-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.industry-text {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  max-width: 100%;
  flex-basis: 0;
  flex-grow: 1;
}
.industry-text h2 {
  font-weight: 400;
}

.industry-text span {
  font-weight: normal;
  text-align: left;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .industries-wrapper {
    padding: 130px 15px 20px 15px;
    color: #023f67;
    background-color: #fff;
  }

  .industry-container {
    margin: auto;
    max-width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .industry-one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .industry-img {
    width: 180px;
    height: 150px;
    margin-bottom: 50px;
    overflow: hidden;
  }
}

/* Landscape and iPad View */
@media (min-width: 601px) and (max-width: 750px) {
  .industries-wrapper {
    padding: 125px 15px 20px 15px;
    color: #023f67;
    background-color: #fff;
  }

  .industry-container {
    margin: auto;
    max-width: 100%;
    display: grid;
    /* place-items: center; */
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .industry-one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .industry-img {
    width: 150px;
    height: 120px;
    margin-bottom: 50px;
    overflow: hidden;
  }
}

@media (min-width: 751px) and (max-width: 1115px) {
  .industries-wrapper {
    padding: 25px 15px 20px 15px;
    color: #023f67;
    background-color: #fff;
  }

  .industry-container {
    margin: auto;
    max-width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .industry-one {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .industry-img {
    width: 150px;
    height: 120px;
    margin-bottom: 50px;
    overflow: hidden;
  }
}
